@{
    ViewBag.Title = User.Identity.GetUserName();
    var UserId = User.Identity.GetUserName() ?? "";
    UserId = UserId.ToLower().Split('@')[0].Split('.').Last();
}
<img id="Avatar" src="" />
<br />
<button onclick="clearCache()">Clear cache</button>

@section Scripts {
    <script>
        function clearCache() {
            localStorage.clear();
            alert('Clear cache successfully');
        }
        $(function () {
            var USERID = '@UserId';
            if (new RegExp('[0-9]+[a-z]+[0-9]+$').test(USERID)) {
                var path = USERID.match(/[a-z]+/)[0];
                paths = USERID.split(path);
                USERID = paths[0] + '/' + path + '/' + paths[1];
            }
            $('#Avatar').attr('src', `@Url.Content("~/App_Data/FaceID/")${USERID}.jpg`);
        });
    </script>
}