@using System.Text.RegularExpressions
@model string[]
@{
    var myClass = ViewBag.MyClass as FaceManagement.Models.MyClass;
}

<div class="container">
    <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        <a href="#">http://bit.ly/DDanh</a>
        <span>code:</span>
        <b>@(myClass.id)-@Math.Round(myClass.Latitude * 10 + myClass.Longitude * 10)</b>
        <button id="toggle" class="btn-info" onclick="toggleImage(this)" style="font-size:18px">Show</button>
    </h3>
    <hr class="mt-2 mb-5">
    <div id="Thumbnail" class="row text-center text-lg-left">
        @foreach (var file in Model)
        {
            <div class="col-lg-2 col-md-3 col-xs-4">
                <a href="#" onclick="showImage(this)" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail checkin" dst="@Url.Content("~/App_Data" + file.Split(new string[] { "App_Data" }, StringSplitOptions.None).Last())" alt="@Regex.Split(file, @"App_Data.Checks.[0-9]+.", RegexOptions.IgnoreCase).Last().Split('.').First()">
                </a>
            </div>
        }
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <img class="modal-image" style="width:100%" />
            </div>
        </div>
    </div>
</div>

<script>
    function showImage(elem) {
        var image = $(elem).find('img').attr('src');
        $('.modal-title').text(image.split('/').reverse()[0]);
        $('.modal-image').attr('src', image);
        $('#myModal').modal();
    }
</script>

@section Scripts {
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            check = $.connection.checkHub;
            check.client.addNewCheckToPage = function (id, code) {
                if (id != '@ViewContext.RouteData.Values["id"]') return;
                var image = $('<div class="col-lg-2 col-md-3 col-xs-4"><a href="#" onclick="showImage(this)" class="d-block mb-4 h-100"><img class="img-fluid img-thumbnail checkin" alt=""></a></div>');
                image.find('img').attr('dst', `@Url.Content("~/App_Data/Checks/")@ViewContext.RouteData.Values["id"]/${code}.jpg`).attr('alt', code);
                if ($('#toggle').text() == 'Hide') image.find('img').attr('src', image.find('img').attr('dst'));
                $('#Thumbnail').prepend($(image));
                toastr.info(code);
            };
            $.connection.hub.start();
            //check.server.send(xxx);
        });
        function toggleImage(elem) {
            if ($(elem).text() == 'Show') {
                $('img.checkin').each(function () {
                    $(this).attr('src', $(this).attr('dst'));
                })
                $(elem).text('Hide');
            } else {
                $('img.checkin').each(function () {
                    $(this).attr('src', '');
                })
                $(elem).text('Show');
            }
        }
    </script>
}